.Home{
    display: flex;
    flex-direction: column;
  }
  
  .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    color: white;
  }
.Home-header> h1{
    font-size: 2.3rem;
  }
  input {
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
  }
